<div class="book-wrap">
<% @books.each do |list| %>
  <div class="book-box">
    <% if book.image.attached? %>
      <%= image_tag book.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no_image(2).jpg', size: "200x200" %>
    <% end %>
    <div class="book-comment">
      <span class="book-body"><%= book.body %></span>
      <span class="book-title"><%=link_to book.title, book_path(book.id) %></span>
    </div>
  </div>
<% end %>
</div>

<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <tr></tr>
        <th>Title</th>
        <th>Opinion</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>